{% extends 'base.html.twig' %}

{% block title %}{{'NewCart'|trans}}{% endblock %}

{% block body %}
    <h1>{{'CreateNewCart'|trans}}</h1>

    {{ include('cart/_form.html.twig') }}

    <a href="{{ path('cart_index') }}">{{'BackToList'|trans}}</a>
{% endblock %}
