{% extends 'base.html.twig' %}

{% block title %}{{'Cart'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Cart'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>{{'cart.datebuy'|trans}}</th>
                <td>{{ cart.dateBuy ? cart.dateBuy|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'cart.status'|trans}}</th>
                <td>{{ cart.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <pre>
        {{ dump(cart) }}
    </pre>

    <a href="{{ path('cart_index') }}">{{'BackToList'|trans}}</a>

    <a href="{{ path('cart_edit', {'id': cart.id}) }}">{{'cart.datebuy'|trans}}</a>

    {{ include('cart/_delete_form.html.twig') }}
{% endblock %}
