{% extends 'base.html.twig' %}

{% block title %}{{'NewProduct'|trans}}{% endblock %}

{% block body %}
<div style="background-color: #f8f9fa;" class="container">
    <h1>{{'NewProduct'|trans}}</h1>
    {{ include('product/_form.html.twig') }}
    <a href="{{ path('product_index') }}">{{'BackToList'|trans}}</a>
</div>

{% endblock %}
