{% extends 'base.html.twig' %}

{% block title %}{{'NewProduct'|trans}}{% endblock %}

{% block body %}
    <h1>{{'NewProduct'|trans}}</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">{{'BackToList'|trans}}</a>
{% endblock %}
