{% extends 'base.html.twig' %}

{% block title %}{{'Product'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Product'|trans}}</h1>
    <div class="container">
        <div class="row pt-2">
            <div class="col-6">
                <img style="max-width: 100%" src="{{'/uploads/' ~ product.image}}" alt="Image produit">
            </div>
            <div class="col-6">
                <div class="row">
                    <h1>{{ product.name }}</h1>
                    <div class="col-6">
                        <p>{{'ProductPrice'|trans}} : {{ product.price }}€</p>
                        <p>{{'StockAvailable'|trans}} : {{ product.stock }}</p>

                    </div>
                    <div class="col-4">
                        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN')) %} 
                        <a class="btn btn-sm btn-secondary" href="{{ path('product_edit', {'id': product.id}) }}">{{'product.edit'|trans}}</a>
                        {{ include('product/_delete_form.html.twig') }}
                        {% endif %}
                        
                        {% if is_granted('ROLE_USER') %} 
                        <a class="btn btn-sm btn-secondary" href="{{ path('cart_add', {'id': product.id}) }}">Ajouter au panier</a>
                        {% else %}
                            <a class="btn btn-sm btn-secondary" href="{{path('app_login')}}">Connecter vous pour ajouter le produit au panier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h3>{{'DescriptionProduct'|trans}} : </h3>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
