{% extends 'base.html.twig' %}

{% block title %}{{'HomeTitle'|trans}}{% endblock %}

{% block body %}
<div style="background-color: #f8f9fa;" class="container bg">
    <div class="row d-flex justify-content-between p-2">
        <h3 class="col-3">{{'ListProducts'|trans}}</h3>
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN'))  %} 
            <a class="btn btn-primary col-2" href="{{ path('product_new') }}">{{'product.add'|trans}}</a>
        {% endif %}
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mx-4">
        {% for product in products %}
        <div class="col">
            <a style="text-decoration: none; color: black;" href="{{ path('product_show', {'id': product.id}) }}">
            <div class="card h-100">
              <img src="{{'/uploads/' ~ product.image}}" class="card-img-top" alt="Image du produit">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
              </div>
            </div>
        </a>
          </div>
          {% else %}
          <div>
            <p>{{'ProductNotAvailable'|trans}}</p>
          </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
