<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
        <a class="navbar-brand" href="{{path('home')}}">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{path('home')}}">{{'Home'|trans}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('product_index')}}">{{'Product'|trans}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('cart_index')}}">{{'Cart'|trans}}</a>
				</li>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('user_index')}}">{{ 'user.title'|trans}}</a>
				</li>
				{% endif %}
				<li class="nav-item">
					{% if app.user %}
						<a class="nav-link">{{'Hello'|trans}}
							{{app.user.email}}
						</a>
					{% else %}
						<a class="nav-link" href="{{path('app_login')}}">{{'Login'|trans}}</a>
					{% endif %}
				</li>
				<li class="nav-item">
					{% if app.user %}
						<a class="nav-link" href="{{ path('app_logout') }}">{{'Logout'|trans}}</a>
					{% else %}
						<a class="nav-link" href="{{path('app_register')}}">{{'Register'|trans}}</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>

