{% extends 'base.html.twig' %}

{% block title %}{{'Edit PassWord'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit PassWord'|trans}}</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
        </div>
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">{{'Edit User'|trans}}</a>

{% endblock %}
