{% extends 'base.html.twig' %}

{% block title %}{{'User'|trans}}{% endblock %}

{% block body %}
    <h1>{{'User'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{'user.email'|trans}}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{'user.firstname'|trans}}</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>{{'user.lastname'|trans}}</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>{{'user.orders'|trans}}</th>
                <td>
                    {% for cart in user.carts %}
                        <!-- Calcul du montant de la commande ici  -->
                        {% if cart.status != false %}
                            <a href="">{{cart.id}} {{cart.dateBuy}} Montant</a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    
    
    {% if app.user is not null and (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN'))%}
        <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">{{'Edit'|trans}}</a>
        <a class="btn btn-primary" href="{{ path('user_edit_password', {'id': user.id}) }}">{{'user.editPassWord'|trans}}</a>
    {% endif %}
    
{% endblock %}
